<% extend('./layout/main') %>
<div class="login-page">
    <div class="form">
        <p>Welcome</p>
        <p class="message">Already registered? <a href="/login">Sign In</a></p>
        <p class="message">Not registered? <a href="/register">Create an account</a></p>
    </div>
</div>