<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--[if !mso]><!-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--<![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>

</head>
<body style="Margin:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;min-width:100%;background-color:#f3f2f0;">
<center class="wrapper" style="width:100%;table-layout:fixed;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;background-color:#f3f2f0;">

<table>
    <tr>
			<td>
				<table width="100%">
					<tr>
						<td align="center">
							<p style="font-size: 16px; color: #333; font-weight: 600;">
								Hi <%= name %>,
							</p>
							<p style="font-size: 16px; color: #333;">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							</p>
							<p><a href="<%= url %>/reset-forgot-password/<%= token %>" style="background-color: #ff6f00; color: #fff; font-size: 14px; padding: 2px 50px; line-height: 30px; letter-spacing: 1px; text-decoration: none; border-radius: 20px; margin-top: 30px; display: inline-block;">Reset Password</a></p>
						</td>
					</tr>
				</table>
			</td>
		</tr>
</table>

</center>
</body>
</html>
